<h1> Create a new student <h1>

<form method="POST" action="/students">

<label> Name </label>
<input name="name" type="text">

<label> Mod </label>
<input name="mod" type="text">

<input type= "submit" id="submit"/>





</form>

